div{
    /* height:200px;
    width:200px;
    background-color:rgb(176, 6, 176);
    transition:1s; */
    height:100px;
    width:100px;
    background-color:green;
    /* border-radius: 50%; */
    margin:0 auto;
    margin-top:20px;
    transition: margin-top 2s ease-in 0.2s;
    transform:rotate(45deg);

}
div:hover{
    /* background-color: purple;
    border-radius:50%; */
    /* border-radius: 50%; */
    margin-top:400px;
    background-color: purple;
    transform:rotate(45deg);
}